name: BuildAndTest

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest, macos-latest, macos-14, ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: false

    - uses: actions/setup-python@v6
      with:
        python-version: "3.14"

    - name: Add requirements
      run: python -m pip install --upgrade setuptools pybind11 cibuildwheel .[test]

    - name: Build Packages
      run: cibuildwheel --output-dir "dist"
      env:
        CIBW_SKIP: "cp314t-* cp314-* pp*win*"
